.conversationContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-md);
}

.userInputContainer {
  flex-shrink: 0;
  border-radius: var(--borderRadius-md);
  background: var(--colors-bgTertiary);
  color: var(--colors-textPrimary);
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-xs);
  margin-left: auto;
  margin-bottom: var(--spacing-lg);
  max-width: 80%;
}

.assistantOutputContainer {
  flex-shrink: 0;
  color: var(--colors-textPrimary);
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: var(--spacing-sm);
}

.assistantContainer {
  width: 100%;
}

.progressStream {
  .content {
    color: var(--colors-textTertiary);
    font-size: 1.5rem;
  }

  p::after {
    content: '.';
    animation: dots 1.5s steps(5, end) infinite;
  }
}

@keyframes dots {
  0%,
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  80%,
  100% {
    content: '';
  }
}

.conversationChatIcon {
  height: 40px;
  width: 40px;
  margin-right: var(--spacing-md);
  object-fit: contain;
  aspect-ratio: 1 / 1;
  transform-origin: center;
}

/** Basic list wrapping **/
li {
  overflow-wrap: break-word;
}

.copyIconContainer {
  display: flex;
  margin-top: var(--spacing-sm);
  height: var(--spacing-md);
}

.modelSelectorContainer {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.chatImage {
  margin: var(--spacing-xs) 0 var(--spacing-xs) auto;
}

.imageSkeleton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
