#appContent {
  height: 100vh;
}

.appContainer {
  display: grid;
  grid-template-columns: 1fr 3.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (max-width: 768px) {
  .appContainer {
    display: block;
  }
}
