#messageContainer {
  width: fit-content;
  max-width: 200px;
}

#content {
  display: inline-block;
  /* Force breaking for long strings */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 40ch; /* Limit the width to 40 characters */
  overflow: hidden; /* Ensure content does not exceed the container */
}
