.header {
  padding: 16px 16px 16px 24px;
}

.chatControls {
  display: flex;
  justify-content: center;
  background-color: #2d2d2d;
  border-radius: 10px;

  width: 100%;
  max-width: 1030px;
  margin: 10px auto 0;
  /* Added top margin for spacing */
}

.chatControls button {
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: rgb(160, 181, 255);
  color: rgb(45, 45, 45);
}

.chatControls .inactive {
  background-color: rgb(75, 75, 75);
  color: rgb(45, 45, 45);
  cursor: unset;
}

.active:hover {
  background-color: rgb(78, 87, 246);
  color: rgb(238, 238, 238);
}

