.controls {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  background-color: var(--colors-bgTertiary);
  border-radius: var(--borderRadius-md);
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.inputContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 0;
  flex: 1;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--colors-textPrimary);
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.6rem; /* Explicit font size */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  resize: none; /* Disable manual resizing */
  text-wrap: wrap;
  min-height: 30px;
  padding-top: 4px;
  scrollbar-color: var(--colors-textMuted) var(--colors-bgTertiary);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;

  &:focus {
    border: none;
    outline: none;
    caret-color: white;
  }
}

.input::placeholder {
  font-size: 1.6rem;
}

.input::-webkit-scrollbar-track {
  background-color: var(--colors-bgTertiary);
}

.input::-webkit-scrollbar-thumb {
  background-color: var(--colors-textMuted);
  border-radius: var(--borderRadius-md);
}

.buttonContainer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.sendChatButton {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--colors-accent);
  border: 1px solid var(--colors-accentTransparent);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease,
  opacity 0.2s ease;

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background: var(--colors-accentTransparent);
    border-color: transparent;
    cursor: not-allowed;
    opacity: 0.5;
    border: 1px solid var(--colors-accentTransparent);
    border-radius: 50%;
  }
}

.uploadInputFieldContainer {
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

.uploadInputField {
  display: none;
}

.imagePreviewContainer {
  margin-bottom: var(--spacing-sm);
  border-radius: var(--borderRadius-md);
  background-color: var(--colors-bgTertiary);
  padding: var(--spacing-sm);
  max-width: fit-content;
  overflow-x: auto;
}

.imagePreviewWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.imageCard {
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: var(--borderRadius-xs);
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageCard:hover .cardImage {
  transform: scale(1.05);
}

.removeButton {
  position: absolute;
  top: -0.1rem;
  left: -0.2rem;
  width: var(--spacing-md);
  height: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-bgQuaternary);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.removeButton:hover {
  background-color: var(--colors-bgSecondary);
}

.attachIcon:hover {
  background-color: var(--colors-bgPrimary);
}

.active {
  border: 2px dashed var(--colors-accentTwoTransparent);
  transition: all 0.2s ease;
}

.dropZone {
  width: 100%;
  min-height: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-accentTwoTransparent);
  font-weight: 500;
  background-color: transparent;
  padding-top: var(--spacing-xs);
  text-align: center;
}

.dropZoneError {
  color: var(--colors-accentTransparent);
  border-color: var(--colors-accentTransparent);
}
