#chatview {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background: var(--colors-bgPrimary);
}

#updatedChatView {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  background: var(--colors-bgPrimary);
}

::-webkit-scrollbar {
  background-color: var(--colors-bgPrimary);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colors-bgTertiary);
  border-radius: var(--borderRadius-md);
}

#startContainer {
  max-width: 768px;
  width: 100%;
  padding: 0 var(--spacing-sm);
  margin-top: -90px;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: -160px;
  }
}

#start {
  color: var(--colors-textPrimary);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;

  @media (max-width: 640px) {
    max-width: 80%;
  }

  img {
    height: 72px;
    width: 72px;
  }

  h3 {
    text-align: center;
    margin-bottom: var(--spacing-sm);
    margin-top: var(--spacing-sm);
  }

  h5 {
    text-align: center;
    margin-top: var(--spacing-xs);
  }
}

.right {
  flex-shrink: 0;
  border-radius: var(--borderRadius-md);
  background: var(--colors-bgTertiary);
  color: var(--colors-textPrimary);
  padding: var(--spacing-lg);
  margin-left: auto;
  margin-top: var(--borderRadius-sm);
  max-width: 80%;
}

.left {
  flex-shrink: 0;
  margin-top: var(--spacing-lg);
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-md) 0px;
  color: var(--colors-textPrimary);
  display: flex;
  flex-direction: row;
  align-items: start;
}

.assistantContainer {
  margin-top: var(--spacing-sm);
  max-width: 80%;
  width: 80%;
}

#progressStream {
  .content {
    color: var(--colors-textTertiary);
    font-size: 1.5rem;

    p::after {
      content: '.';
      animation: dots 1.5s steps(5, end) infinite;
    }
  }
}

@keyframes dots {
  0%,
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  80%,
  100% {
    content: '';
  }
}

.conversationChatIcon {
  height: 40px;
  width: 40px;
  margin-right: var(--spacing-md);
  object-fit: contain;
  aspect-ratio: 1 / 1;
  transform-origin: center;
}

#scrollContent {
  flex-grow: 1;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  scrollbar-color: var(--colors-bgTertiary) var(--colors-bgPrimary);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#conversation {
  max-width: 768px;
  width: 100%;
  padding: 0 var(--spacing-sm);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#input {
  min-height: 70px;
  max-width: 768px;
  width: 100%;
  background-color: var(--colors-bgTertiary);
  border-radius: var(--borderRadius-md);
  border: none;
  padding: var(--spacing-md);
  color: var(--colors-textPrimary);
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px; /* Explicit font size */
  line-height: 1.5; /* Ensure proper alignment with font size */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  resize: none; /* Disable manual resizing */
  text-wrap: wrap;

  &:focus {
    border: none;
    outline: none;
    caret-color: white;
  }
}

#inputContainer {
  width: 100%;
  max-width: 768px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

#sendChatButton {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--colors-accent);
  border: 1px solid var(--colors-accentTransparent);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    opacity 0.2s ease;

  &:active {
    opacity: 0.6;
  }
}

#importantInfo {
  margin-top: var(--spacing-xs);
  /* custom font-size for chat warning */
  font-size: 1.5rem;
  text-align: center;
  color: var(--colors-textMuted);
}

#stickyHeader {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: var(--colors-bgPrimary);
  padding: var(--spacing-sm) var(--spacing-sm);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  z-index: 99;

  @media (max-width: 640px) {
    padding: var(--spacing-sm) var(--spacing-sm);
  }

  #resetButton {
    background: var(--colors-bgSecondary);
    border: 1.5px solid var(--colors-accentTransparent);
    color: var(--colors-textPrimary);
    border-radius: var(--borderRadius-sm);
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(75, 75, 75);
    }

    &:active {
      transform: scale(0.8);
    }

    svg {
      height: 24px;
      width: 24px;
    }

    @media (max-width: 640px) {
      padding: var(--spacing-xs) var(--spacing-xs);

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.introText {
  margin-top: 0px;
  color: var(--colors-textSecondary);
}

@media (min-width: 768px) {
  .introText {
    font-size: 2.43rem;
  }
}

.inputRaised {
  width: -webkit-fill-available; /* WebKit browsers (Chrome, Edge, Safari) */
  width: -moz-available;
  width: fill-available;
  position: absolute;
  bottom: 30%;
  transition:
    transform 0.5s ease-in-out,
    bottom 0.5s ease-in-out;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-color: var(--colors-bgTertiary) var(--colors-bgPrimary);
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: var(--spacing-md);

  @media (max-width: 768px) {
    overflow-y: hidden;
  }
}

.inputNormal {
  width: -webkit-fill-available; /* WebKit browsers (Chrome, Edge, Safari) */
  width: -moz-available;
  width: fill-available;
  position: relative;
  bottom: 10px;
  transition:
    transform 0.5s ease-in-out,
    bottom 0.5s ease-in-out;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-color: var(--colors-bgTertiary) var(--colors-bgPrimary);
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: var(--spacing-md);

  @media (max-width: 768px) {
    overflow-y: hidden;
  }
}

/** Basic list wrapping **/
li {
  overflow-wrap: break-word;
}

.copyIconContainer {
  display: flex;
  margin-top: var(--spacing-sm);
  height: var(--spacing-md);
}

.left h1, .left h2, .left h3, .left h4, .left h5, .left h6,
.right h1, .right h2, .right h3, .right h4, .right h5, .right h6 {
  margin-top: 2rem;
}
